<!-- <app-seller-nav></app-seller-nav> -->
<!-- <app-topnav></app-topnav>
<app-category-nav></app-category-nav>
<app-offers-bar></app-offers-bar>
<app-product-list></app-product-list> -->
<!-- <app-home></app-home> -->

<!-- <app-seller-nav></app-seller-nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <app-seller-side-nav></app-seller-side-nav>
        </div>
        <div class="col-sm-9">
            
            <router-outlet></router-outlet>
        </div>
    </div>

</div> -->

<router-outlet></router-outlet>
