    
    <!-- <div class="col-md-3 "> -->
        <div class="card text-center">
            <div class="col mt-4 ">
                <!-- <div class="card mt-2 mb-3 shadow p-3 mb-5"> -->
                    <!-- <img class="rounded-circle img-fluid mt-2" width="80"  src="https://www.w3schools.com/bootstrap4/newyork.jpg" alt=""> -->
                
                    <p>user</p>
                    
                <!-- </div> -->
            </div>
            
            <div class="col ">
                
                <a routerLink="/Dashboard" routerLinkActive="active">
                    <div class="card mt-2 text-white bg-primary mb-3 shadow p-3 mb-5 ">
                        <p>Dashboard</p>
                    </div>
                 </a>
                 <a routerLink="Addproduct" routerLinkActive="active">
                    <div class="card mt-2 text-white bg-info mb-3 shadow p-3 mb-5">
                        <p>Add product</p>
                    </div>
                </a>
                 <a routerLink="Productorders" routerLinkActive="active">
                    <div class="card mt-2 text-white bg-info mb-3 shadow p-3 mb-5">
                        <p>orders</p>
                    </div>
                </a>
            </div>
    
        </div>

    <!-- </div> -->
    